body {
    font-family: "Inter", sans-serif;
    font-size: 16px;

    color:#5E6E85;

    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    color: #253347;
}


h1 {
    font-size: 3.3em;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.25em;
}

section {
    padding: 110px 20px;
}

.intro-table, .intro-facts {
    text-align: center;
}

.title {
    text-align: center;
}

.intro {
    width: 85%;

    margin: 50px auto;
}









/* Code pour la section calculatrice */

#calculatrice {
    background: linear-gradient(to bottom right, #D6FCFE 0%, #C3C7C4 100%);

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 24px;
}

.text-calc{
    text-align: center;
}


.calc {
    background-color: white;
    
    border-radius: 1em;
    padding: 1.5em;
    gap: 1.5em;

    display: flex;
    flex-direction: column;
}


#calculateur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

#calculateur div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#calculateur label {
    font-size: 0.9em;
}

.fixed {
    max-width: 60px;
    max-height:115px;
}

#calculateur input, #calculateur select {
    padding: 20px 24px;

    border-radius: 0.75em;
    border: 1px solid #5E6E85;

    color: #3A6D4A;

    font-size: 1.5em;
    font-weight: bold;
}

#valeur {
    max-width: 169px;
}

#convertir {
    color: white;
    
    padding: 1px 10px;

    border: 3px solid #3A6D4A;
    border-radius: 25px;

    background-color: #3A6D4A;

    cursor: pointer;

}

#result {
    background-color: #3A6D4A;

    border-radius: 16px 999px 999px 16px;
    padding: 32px;
    max-height: 150px;
    max-width: 500px;

    font-weight: bold;
    color: white;
}





/* Code CSS pour la section comprendre */


#comprendre {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
}

.img-comprendre {
    text-align: center;
    background-color: #E8F2EB;

    border-radius: 15px;
}

.img-comprendre img {
    width: 90%;
}





/* Code CSS pour la section explications */

#explications {
    background-color: #E8F2EB;

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 30px;
}

.conversion {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.conversion img{
    border-radius: 50%;

    margin: auto;

    width: 35px;
    height: 35px;

    padding: 15px;

    background-color: #3A6D4A;
}





/* Code de la section Quelques faits */

.cards {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 100%;

    gap: 2em;
}

.card {
    border-radius: 1em;
    box-shadow: 1em 2em 3.5em #8FAECF40;

    padding: 2em;

    max-width: 365px;
}

.card > div {
    display: flex;
    justify-content: start;
    align-items: center;

    row-gap: 1em;
}

.img-card {
    padding: 0.8em;
}





/* Code de la section Tableau */

#conversion-table {
    background: linear-gradient(to bottom right, #D6FCFE 0%, #C3C7C4 100%);
}

.table-container {
    overflow: auto;
    max-width: 100%;
}

.unit-table {
    color: black;

    border: 2px solid #F2F2F2;
    border-collapse: collapse;

    overflow:hidden;    /* To be able to use border-radius on my table*/

    border-radius: 0.25em;

    margin: auto;
    width: 95%;

    max-height: 350px;
}

.unit-table th {
    padding: 1em;
    font-weight: bold;
}

.unit-table td {
    padding: 1.125em 1em;
}

.unit-table th:nth-of-type(1) {
    color: white;
    background-color: #0F722E;
}

.unit-table th:nth-of-type(2) {
    background-color: #9AC5A7;
}

.unit-table th:nth-of-type(3) {
    background-color: #D8E2E7;
}


.unit-table tr:nth-of-type(odd) td:nth-of-type(odd) {
    background-color: #F2F2F2;
}

.unit-table tr:nth-of-type(odd) td:nth-of-type(even) {
    background-color: #9AC5A7;
}

.unit-table tr:nth-of-type(even) td {
    background-color: white;
}





/* Code pour la section Vidéo */
.intro-video {
    text-align: left;
}

.video-container {
    text-align: center;
}

.video-container video {
    width: 85%;
}










/* Code CSS pour les tailles tablettes */
@media screen and (min-width: 641px) {

    h2 {
        font-size: 3em;
    }


    /* Code pour la section calculatrice */

    #calculateur {
        flex-direction: row;
        align-items: center;
    }

    #result {
        font-size: 32px;
    }


    /* Code CSS pour la section comprendre */

    #comprendre {
        flex-direction: row;
    }

    .text-comprendre {
        max-width: 50%;
    }




    /* Code CSS pour la section explications */

    .conversion {
        text-align: left;

        max-width: 330px;
    }

    
    /* Code pour la section Quelques Faits */
    .cards {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    
        row-gap: 1.5em;
        column-gap: 0.9em;
    }


    /* Code pour la section du Tableau */
    .unit-table {
        width: 85%;
    }

}






/* Code CSS pour les tailles desktop */
@media screen and (min-width: 1008px) {

    section {
        padding: 129px 100px;
    }

    .intro {
        width: 50%;

        margin: 50px 0;
    }

    .title {
        text-align: left;
    }

    .intro-facts, .intro-table {
        text-align: left;
    }



    /* Code pour la section calculatrice */

    #calculatrice {
        flex-direction: row;
    }

    .text-calc {
        text-align: left;
    }

    .description-calc {
        max-width: 75%;
    }


    /* Code CSS pour la section comprendre */

    .text-comprendre {
        margin: 50px;

        max-width: 40%;
    }



    /* Code CSS pour la section explications */

    #explications {
        flex-direction: row;
    }

    .conversion {
        max-width: 370px;
    }


    
    /* Code pour la section Quelques Faits */

    .cards {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);

        gap: 2em;
    }


    /* Code pour la section Tableau */

    .unit-table {
        width: 100%;
    }


    /* Code pour la section Vidéo */
    .video-container video {
        width: 50%;
    }

}
