body {
    font-family: "Inter", sans-serif;

    font-size: 16px;

    margin: 0;
    padding: 0;
}

section {
    padding: 110px 20px;
}


/* Code pour la section calculatrice */

#calculatrice {
    background: linear-gradient(to bottom right, #D6FCFE 0%, #C3C7C4 100%);

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 24px;
}

.text-calc{
    text-align: center;
}

h1 {
    font-size: 3.3em;
}


.calc {
    background-color: white;
    
    border-radius: 1em;
    padding: 1.5em;
    gap: 1.5em;

    display: flex;
    flex-direction: column;
}


#calculateur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

#calculateur div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#calculateur label {
    font-size: 0.9em;
}

.fixed {
    max-width: 60px;
    max-height:115px;
}

#calculateur input, #calculateur select {
    padding: 20px 24px;

    border-radius: 0.75em;
    border: 1px solid #5E6E85;

    color: #3A6D4A;

    font-size: 1.5em;
    font-weight: bold;
}

#valeur {
    max-width: 169px;
}

#convertir {
    color: white;
    
    padding: 1px 10px;

    border: 3px solid #3A6D4A;
    border-radius: 25px;

    background-color: #3A6D4A;

    cursor: pointer;

}

#result {
    background-color: #3A6D4A;

    border-radius: 16px 999px 999px 16px;
    padding: 32px;
    max-height: 150px;
    max-width: 500px;

    font-weight: bold;
    color: white;
}





/* Code CSS pour la section comprendre */


#comprendre {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
}

.img-comprendre {
    text-align: center;
    background-color: #E8F2EB;

    border-radius: 15px;
}

.img-comprendre img {
    width: 90%;
}






/* Code CSS pour la section explications */

#explications {
    background-color: #E8F2EB;

    display: flex;
    flex-direction: column;
}

.conversion {
    display: flex;
    flex-direction: column;

    text-align: center;

    align-items: center;
}










/* Code CSS pour les tailles tablettes */
@media screen and (min-width: 641px) {

    /* Code pour la section calculatrice */

    #calculateur {
        flex-direction: row;
        align-items: center;
    }

    #result {
        font-size: 32px;
    }


    /* Code CSS pour la section comprendre */

    #comprendre {
        flex-direction: row;
    }

    .text-comprendre {
        max-width: 50%;
    }
}






/* Code CSS pour les tailles desktop */
@media screen and (min-width: 1008px) {

    section {
        padding: 129px 100px;
    }


    /* Code pour la section calculatrice */

    #calculatrice {
        flex-direction: row;
    }

    .text-calc {
        text-align: left;
    }

    .description-calc {
        max-width: 75%;
    }


    /* Code CSS pour la section comprendre */

    .text-comprendre {
        margin: 50px;

        max-width: 40%;
    }
}